# Pandas - DataFrame

In [5]:
import numpy as np
import pandas as pd

### 1. DataFrame 생성

In [6]:
kor = [80,90,70,30]             # 리스트
eng = np.array([90,70,60,40])   # 어레이
math = (90,60,80,70)            # 튜플

In [7]:
df = pd.DataFrame({
    '국어': kor, '영어': eng, '수학': math
}, index = ['춘향','몽룡','향단','방자'])
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [8]:
np.random.seed(2021)
df2 = pd.DataFrame(np.random.randint(40,101,12).reshape(4,3),
                    columns=['국어','영어','수학'], index = ['춘향','몽룡','향단','방자'])
df2

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

### 2. 인덱싱

In [9]:
df['국어']['춘향'], df.국어['춘향']

(80, 80)

#### Q. 데이터사이언스스쿨 판다스 데이터분석 연습문제 4.1.3

In [10]:
# 1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df.수학

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [11]:
# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [12]:
# 6) 향단의 점수를 시리즈로 나타낸다.
df.loc['향단']

국어    70
영어    60
수학    80
Name: 향단, dtype: int64

In [13]:
df.iloc[:1,:-1]

    국어  영어
춘향  80  90

In [2]:
# 자기 자신을 변화시키려면 inplace = True 옵션을 주어야 함
df2.drop(columns=['영어','수학'], inplace=True)

NameError: name 'df2' is not defined

In [14]:
# 춘향, 몽룡의 영어, 수학 점수
df.loc['춘향':'몽룡','영어':]

    영어  수학
춘향  90  90
몽룡  70  60

In [ ]:
# 몽룡, 향단의 영어, 수학 점수
df.iloc[1:3,1:]