# DataFrame - 문자열 조작

In [53]:
import numpy as np
import pandas as pd

- 실습 데이터 준비

In [54]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [55]:
df.shape

(46314, 3)

In [56]:
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

In [57]:
# 인덱싱
df.법정동명.str[:2].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 법정동명, dtype: object

In [58]:
# 찾기
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [59]:
'서울특별시 종로구'.find('동') # 없으면 -1로 나옴

-1

In [60]:
'서울특벽시 종로구 청운동'.find('동') # 0보다 크거나 같으면 내가 찾고자 하는게 string에 있다는 얘기니까 그럼 이거 조건문에 쓰면 됨

12

In [61]:
# 분할
df.법정동명.str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [62]:
df.법정동명.str.contains('종로').head()

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [63]:
abc = df.법정동명.str.contains('종로')
abc.head()

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [64]:
# 문자 대체
df.법정동명.str.replace(' ','_').head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [65]:
s = pd.Series(['가나다 123','ㅠㅠ!!!','한글alphabet'])
s

0       가나다 123
1         ㅠㅠ!!!
2    한글alphabet
dtype: object

In [66]:
# 정규 표현식(Regular expression)
import re
re.sub('0123456789', '.', '가나다 123') # (정규표현식, 대체할 문자열, 대상)

'가나다 123'

In [67]:
re.sub('[a-z]','.','한글alphabet')

'한글........'

In [68]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않음
'한글alphabet'.replace('[a-z]','')

'한글alphabet'

In [69]:
# 한글 정규표현식
re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]','.','한글alphabet')

'..alphabet'

In [70]:
re.sub('[가-힣]','.','한글alphabet')

'..alphabet'

In [71]:
# Pandas str.replace() 메소드는 정규표현식을 지원함
s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]','.')

/var/folders/l6/zf_y8js55058y519pbd3k9480000gn/T/ipykernel_19706/925698265.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]','.')

0       ... 123
1         ..!!!
2    ..alphabet
dtype: object

In [72]:
# ^는 not(부정)을 의미함
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣]', '') # 한글과 공백을 제외한 글자는 삭제

/var/folders/l6/zf_y8js55058y519pbd3k9480000gn/T/ipykernel_19706/3173669434.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣]', '') # 한글과 공백을 제외한 글자는 삭제

0    가나다
1     ㅠㅠ
2     한글
dtype: object

In [73]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows=1, encoding='euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [74]:
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()

#for column in cctv.columns[1:]:
#    cctv[column] = cctv[column].apply(lambda x: int(x.replace(',','')))
#cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [75]:
cctv.index[:5]

RangeIndex(start=0, stop=5, step=1)

- 인덱스 조작

In [76]:
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [77]:
cctv.reset_index(inplace=True)
cctv.head()

,index,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [78]:
cctv.set_index(('구분'),inplace=True)
cctv.head()

,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,,
계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,3,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,4,3602,448,125,212,105,339,310,874,390,262,461,76

In [79]:
cctv.reset_index(inplace=True)

- set_index를 한 후에 주의사항

In [80]:
cctv.to_csv('cctv.csv')
cctv2 = pd.read_csv('cctv.csv')
cctv2.head(3)

,Unnamed: 0,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289

In [81]:
cctv2.to_csv('cctv.csv')
cctv3 = pd.read_csv('cctv.csv')
cctv3.head(3)

,Unnamed: 0,Unnamed: 0.1,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289

In [82]:
cctv2.to_csv('cctv.csv', index=None)
cctv3 = pd.read_csv('cctv.csv')
cctv3.head(3)

,Unnamed: 0,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289