# DataFrame - 그룹 분석

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 품종별 sepla

In [ ]:
iris.groupby('species')['sepal_length'].mean()

In [ ]:
# 그룹핑 후 열 선택
iris.groupby('species')[['sepal_length', 'species']].mean()

In [ ]:
# 필요한 열 먼저 선택하고 그룹 분석
iris[['sepal_length', 'species']].groupby('species').mean()

In [ ]:
# 모든 피쳐에 대한 품종별 평균
iris.groupby('species').mean()

In [ ]:
# 모든 피쳐에 대한 품종별 평균, 표준편차
# 리스트를 준 다음에 mean, std를 줄 수도 있다. agg: 여러 개를 쓰겠다 이 얘기임
res = iris.groupby('species').agg(['mean,'std'])
res

In [ ]:
# res는 컬럼 인덱스가 두 개
res['sepal_length']['mean']['setosa']

In [3]:
import seaborn as sns

- tips data

In [4]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

- Guessing
성별(남자), 흡연유무(), 점심/저녁

In [5]:
tips['tip_pct'] = (tips.tip / tips.total_bill * 100).round(2)
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2     5.94
1       10.34  1.66    Male     No  Sun  Dinner     3    16.05
2       21.01  3.50    Male     No  Sun  Dinner     3    16.66
3       23.68  3.31    Male     No  Sun  Dinner     2    13.98
4       24.59  3.61  Female     No  Sun  Dinner     4    14.68

In [6]:
# 성별에 따른 tip_pct의 평균
tips.groupby('sex')[['tip_pct']].mean()

          tip_pct
sex
Male    15.764713
Female  16.648276

In [7]:
# 흡연유무, 시간에 따른 tip_pct의 평균
tips.groupby(['smoker','time'])[['tip_pct']].mean()

                 tip_pct
smoker time
Yes    Lunch   17.039565
       Dinner  16.082429
No     Lunch   16.090889
       Dinner  15.865000

In [8]:
res = tips.groupby(['sex','smoker','time'])[['tip_pct']].mean()
res

                        tip_pct
sex    smoker time
Male   Yes    Lunch   16.665385
              Dinner  14.892553
       No     Lunch   16.570000
              Dinner  15.935844
Female Yes    Lunch   17.526000
              Dinner  18.513913
       No     Lunch   15.707600
              Dinner  15.676897