In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('pima-indians-diabetes.csv', skiprows=9, header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [4]:
df[1].head()

0    148
1     85
2    183
3     89
4    137
Name: 1, dtype: int64

In [5]:
# pima는 Numpy n-dimensional array
pima = df.values
pima.shape

(768, 9)

In [88]:
# 넘파이는 X=pima[행, 열] 이 순서로 넣어야 함.
X = pima[:,:-1] # 맨 끝 열만 빼면 되니까 (x값은 마지막 열 뺀 나머지고)
y = pima[:,-1] # (y값은 마지막 열에 나와있음)

In [89]:
X.shape, y.shape

((768, 8), (768,))

In [9]:
# 결측치 데이터가 있는지 확인하기
df.isna().sum() # isnaO) 또는 innull 활용하기

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [90]:
# df.iloc[행, 열]
X = df.iloc[:,:-1].values # 데이터프레임의 값들만 싹 가져옴
y = df[8] #series
y = y.values # numpy의 array

In [ ]:
# 여러가지 방법으로 y 값을 취할 수 있음
type(X)
y = df.Class
y = df['Class'].values
y = df.Class.values
y=df.iloc[:,-1].values

In [ ]:
X.shape, y.shape

In [91]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train, y_train) # 여기에 바로 X,y 쓰면 안되는건가??

DecisionTreeClassifier(random_state=2021)

In [92]:
pred_diabetes = dtc.predict(X_test)

In [93]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_diabetes), dtc.score(X_test, y_test)

(0.7077922077922078, 0.7077922077922078)

In [94]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify = y, test_size= 0.2, random_state= 2021
)

In [95]:
import numpy as np
np.unique(y_train, return_counts=True)

(array([0, 1]), array([400, 214]))

In [96]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [98]:
params = {
    'max_depth' : [2,3,4,5,6],
    'min_samples_split': [2,3,4]
}

- GridSearchCV, DecisionTreeClassifier

In [114]:
grid_dt = GridSearchCV(dtc, param_grid= params, scoring='accuracy', cv=4)
grid_dt.fit(X_train, y_train)
grid_dt.best_params_

{'max_depth': 5, 'min_samples_split': 2}

In [115]:
grid_dt.best_score_

0.7280791104320516

In [116]:
best_dt = grid_dt.best_estimator_
best_dt.score(X_test, y_test)

0.7467532467532467

In [8]:
df2 = pd.DataFrame(np.arange(25).reshape(5,5), index=list('abcde'), columns=list('vwxyz'))
df2 # 여기서 데이터 끄집어내는 방법이 10가지가 넘음..

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [10]:
# 일단 얘네한테 none값 주고
df2['v']['c'] = np.nan
df2.z['d'] = np.nan

/var/folders/l6/zf_y8js55058y519pbd3k9480000gn/T/ipykernel_15491/2304621376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.z['d'] = np.nan
/Users/kimhansaem/miniconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [11]:
# 확인하면 결측치만 True로 나옴
df2.isna()

       v      w      x      y      z
a  False  False  False  False  False
b  False  False  False  False  False
c   True  False  False  False  False
d  False  False  False  False   True
e  False  False  False  False  False

In [12]:
df2.isna().sum()

v    1
w    0
x    0
y    0
z    1
dtype: int64

In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [6]:
name = 'chevrolet chevelle malibu'
mfg = name.split(" ")[0]
mfg

'chevrolet'

In [9]:
name2 = 'ford torino'
name.split()[1:]

['chevelle', 'malibu']

In [10]:
name2.split()[1:]

['torino']

In [15]:
' '.join(name2.split()[1:])

'torino'

In [ ]:
-1 쓰면 안되나?