#**영화추천 시스템 - ver2**
- 코사인 유사도 활용
- TfidfVectorizer
- 영화의 줄거리

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import files
up = files.upload()

Saving credits.csv to credits.csv
Saving movies_metadata.csv to movies_metadata.csv

In [28]:
movie = pd.read_csv('movies_metadata.csv', low_memory=False)
info = pd.read_csv('credits.csv')
info.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

##**데이터 전처리**

In [29]:
df = movie[['id', 'title', 'overview']]
df.head(3)

      id             title                                           overview
0    862         Toy Story  Led by Woody, Andy's toys live happily in his ...
1   8844           Jumanji  When siblings Judy and Peter discover an encha...
2  15602  Grumpier Old Men  A family wedding reignites the ancient feud be...

In [30]:
# 결측치 제거
df.dropna(inplace=True)
df.shape

(44506, 3)

In [31]:
# 중복값 제거
df.drop_duplicates(subset=['title'], inplace=True)
df.shape

(41371, 3)

In [32]:
df.id = df.id.astype(int)
df.head(3)

      id             title                                           overview
0    862         Toy Story  Led by Woody, Andy's toys live happily in his ...
1   8844           Jumanji  When siblings Judy and Peter discover an encha...
2  15602  Grumpier Old Men  A family wedding reignites the ancient feud be...

In [33]:
info.id = info.id.astype(int)
df = pd.merge(df, info)
df.head(3)

      id  ...                                               crew
0    862  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1   8844  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2  15602  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...

[3 rows x 5 columns]

In [34]:
df.shape

(41411, 5)

In [35]:
df = df.head(20000)

In [36]:
df.set_index('id', inplace=True)
df.head()

                             title  ...                                               crew
id                                  ...
862                      Toy Story  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
8844                       Jumanji  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
15602             Grumpier Old Men  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...
31357            Waiting to Exhale  ...  [{'credit_id': '52fe44779251416c91011acb', 'de...
11862  Father of the Bride Part II  ...  [{'credit_id': '52fe44959251416c75039ed7', 'de...

[5 rows x 4 columns]

- **cast 처리**

In [37]:
df.cast[862]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [38]:
# literal_eval : 문자열로 반환되는 걸 데이터를 바로 입력 가능한 상태로 반환해주게끔 변환해주는 역할(?)
from ast import literal_eval
df.cast = df.cast.apply(literal_eval)
df.head(3)

                  title  ...                                               crew
id                       ...
862           Toy Story  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
8844            Jumanji  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
15602  Grumpier Old Men  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...

[3 rows x 4 columns]

In [39]:
df.cast[862][0]['name']

'Tom Hanks'

In [40]:
import re
actors = ['Ton Hanks', 'Tim Allen']
list(map(lambda x: re.sub(' ', '', x), actors))

['TonHanks', 'TimAllen']

In [45]:
def get_3cast(x):
    cast = []
    for item in x:
        if item['name'] not in cast:
            cast.append(item['name'])
    cast = list(map(lambda s: re.sub(' ', '', s), cast))
    cast = cast if len(cast) <= 3 else cast[:3]
    return ' '.join(cast)   # str으로

In [46]:
df['cast3'] = df.cast.apply(get_3cast)
df.head(3)

                  title  ...                                    cast3
id                       ...
862           Toy Story  ...             TomHanks TimAllen DonRickles
8844            Jumanji  ...  RobinWilliams JonathanHyde KirstenDunst
15602  Grumpier Old Men  ...     WalterMatthau JackLemmon Ann-Margret

[3 rows x 5 columns]

In [47]:
from ast import literal_eval
df.crew = df.crew.apply(literal_eval)
df.crew[862][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [48]:
def get_director(x):
    for item in x:
        if item['job'] == 'Director':
            return item['name'].replace(' ', '')
    return ''

In [49]:
df['director'] = df.crew.apply(get_director)
df.head(3)

                  title  ...      director
id                       ...
862           Toy Story  ...  JohnLasseter
8844            Jumanji  ...   JoeJohnston
15602  Grumpier Old Men  ...  HowardDeutch

[3 rows x 6 columns]

In [50]:
df.reset_index(inplace=True)
df.head(3)

      id  ...      director
0    862  ...  JohnLasseter
1   8844  ...   JoeJohnston
2  15602  ...  HowardDeutch

[3 rows x 7 columns]

- **DTM 변환**

In [51]:
df['total'] = df.overview + ' ' + df.director + ' ' + df.cast3
df.total[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. JohnLasseter TomHanks TimAllen DonRickles"

In [52]:
df['total'] = df.overview + (' ' + df.director) * 3 + ' ' + df.cast3
df.total[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. JohnLasseter JohnLasseter JohnLasseter TomHanks TimAllen DonRickles"

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer

tvect = TfidfVectorizer(stop_words='english')
dtm = tvect.fit_transform(df.total)
dtm.shape

(20000, 77421)

In [54]:
indices = pd.Series(df.index, index=df.title)

In [55]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(dtm, dtm)

In [56]:
def get_recommendation(title, cos_sim):
    index = indices[title]
    sim_scores = pd.Series(cosine_sim[index])
    movie_indices = sim_scores.sort_values(ascending=False).head(11).tail(10).index
    return df.title.iloc[movie_indices]

In [57]:
get_recommendation('Toy Story',cosine_sim)

2949                Toy Story 2
14728               Toy Story 3
18173                   Tin Toy
18267               Knick Knack
16580                    Cars 2
2216               A Bug's Life
10337                  Luxo Jr.
18223               Red's Dream
9996     The 40 Year Old Virgin
10636                      Cars
Name: title, dtype: object